---
grails:
    profile: web
    codegen:
        defaultPackage: org.grails.onezeroone
    spring:
        transactionManagement:
            proxies: false
    gorm:
        reactor:
            # Whether to translate GORM events into Reactor events
            # Disabled by default for performance reasons
            events: false
info:
    app:
        name: '@info.app.name@'
        version: '@info.app.version@'
        grailsVersion: '@info.app.grailsVersion@'
spring:
    main:
        banner-mode: "off"
    groovy:
        template:
            check-template-location: false

# Spring Actuator Endpoints are Disabled by Default
endpoints:
    enabled: false
    jmx:
        enabled: true

---
grails:
    mime:
        disable:
            accept:
                header:
                    userAgents:
                        - Gecko
                        - WebKit
                        - Presto
                        - Trident
        types:
            all: '*/*'
            atom: application/atom+xml
            css: text/css
            csv: text/csv
            form: application/x-www-form-urlencoded
            html:
              - text/html
              - application/xhtml+xml
            js: text/javascript
            json:
              - application/json
              - text/json
            multipartForm: multipart/form-data
            pdf: application/pdf
            rss: application/rss+xml
            text: text/plain
            hal:
              - application/hal+json
              - application/hal+xml
            xml:
              - text/xml
              - application/xml
    urlmapping:
        cache:
            maxsize: 1000
    controllers:
        defaultScope: singleton
    converters:
        encoding: UTF-8
    views:
        default:
            codec: html
        gsp:
            encoding: UTF-8
            htmlcodec: xml
            codecs:
                expression: html
                scriptlets: html
                taglib: none
                staticparts: none
endpoints:
    jmx:
        unique-names: true
---
hibernate:
    cache:
        queries: false
        use_second_level_cache: false
        use_query_cache: false
dataSource:
    pooled: true
    jmxExport: true
    driverClassName: org.h2.Driver
    username: sa
    password: ''

environments:
    development:
        dataSource:
            dbCreate: create-drop
            url: jdbc:h2:mem:devDb;MVCC=TRUE;LOCK_TIMEOUT=10000;DB_CLOSE_ON_EXIT=FALSE
    test:
        dataSource:
            dbCreate: update
            url: jdbc:h2:mem:testDb;MVCC=TRUE;LOCK_TIMEOUT=10000;DB_CLOSE_ON_EXIT=FALSE
    production:
        dataSource:
            dbCreate: update
            username: '${CLEARDB_USER}'
            password: '${CLEARDB_PASSWORD}'
            url: '${JDBC_CONNECTION_STRING}'
            driverClassName: com.mysql.jdbc.Driver
            dialect: org.hibernate.dialect.MySQL5InnoDBDialect
            properties:
                jmxEnabled: true
                initialSize: 5
                maxActive: 50
                minIdle: 5
                maxIdle: 25
                maxWait: 10000
                maxAge: 600000
                timeBetweenEvictionRunsMillis: 5000
                minEvictableIdleTimeMillis: 60000
                validationQuery: SELECT 1
                validationQueryTimeout: 3
                validationInterval: 15000
                testOnBorrow: true
                testWhileIdle: true
                testOnReturn: false
                jdbcInterceptors: ConnectionState
---
grails:
    mail:
        host: 'smtp.gmail.com'
        port: 465
        username: '${GMAIL_EMAIL}'
        password: '${GMAIL_PASSWORD}'
        props:
            mail.smtp.auth: "true"
            mail.smtp.socketFactory.port: "465"
            mail.smtp.socketFactory.class: "javax.net.ssl.SSLSocketFactory"
            mail.smtp.socketFactory.fallback: "false"
---
environments:
    development:
        grails:
            serverURL: http://localhost:8080
    test:
        grails:
            serverURL: http://localhost:8080
    production:
        grails:
            serverURL: '${PRODUCTION_URL}'
---
quartz:
    autoStartup: false
---
onezeroone:
    email:
        from: '${EMAIL_FROM}'
        replyTo: '${EMAIL_REPLY_TO}'
        days:
            - Day ONE
            - Day TWO
            - Day THREE
            - Day FOUR
            - Day FIVE
            - Day SIX
            - Day SEVEN
        titles:
            - Grails 101 | Day ONE
            - Grails 101 | Day TWO
            - Grails 101 | Day THREE
            - Grails 101 | Day FOUR
            - Grails 101 | Day FIVE
            - Grails 101 | Day SIX
            - Grails 101 | Day SEVEN
        bodys:
            - We’re thrilled to have you as a student for the next 7 days as we walk you through the ins and outs of how to get started with Grails.
            - We’re thrilled to have you as a student for the next 7 days as we walk you through the ins and outs of how to get started with Grails.
            - We’re thrilled to have you as a student for the next 7 days as we walk you through the ins and outs of how to get started with Grails.
            - We’re thrilled to have you as a student for the next 7 days as we walk you through the ins and outs of how to get started with Grails.
            - We’re thrilled to have you as a student for the next 7 days as we walk you through the ins and outs of how to get started with Grails.
            - We’re thrilled to have you as a student for the next 7 days as we walk you through the ins and outs of how to get started with Grails.
            - We’re thrilled to have you as a student for the next 7 days as we walk you through the ins and outs of how to get started with Grails.
        guides:
            - http://guides.grails.org/dayone
            - http://guides.grails.org/daytwo
            - http://guides.grails.org/daythree
            - http://guides.grails.org/dayfour
            - http://guides.grails.org/dayfive
            - http://guides.grails.org/daysix
            - http://guides.grails.org/dayseven
